@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  min-width: 23.5rem;
}

body {
  background: hsl(185, 41%, 84%);
  font-family: "Space Mono", monospace;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.logo-container {
  text-align: center;
  margin-bottom: 2rem;
}

.calculator-container {
  background: hsl(0, 0%, 100%);
  border-radius: 1.4rem;
  padding: 2rem 0rem;
  width: 23.5rem;
  margin-left: auto;
  margin-right: auto;
}

.bill-total-container,
.tip-choices-container,
.number-of-people {
  padding: 0 2rem;
}

label {
  color: hsl(186, 14%, 43%);
}

button,
input {
  font-size: 1.5rem;
  font-family: inherit;
  height: 3rem;
  border: none;
  border-radius: 0.4rem;
}

input {
  text-align: right;
  padding-right: 1rem;
  color: hsl(183, 100%, 15%);
  font-size: 1.6rem;
  width: 100%;
  margin-top: 0.4rem;
}

input:focus {
  outline: none;
  border: 2px solid hsl(172, 67%, 45%);
}

#bill {
  background: url("images/icon-dollar.svg");
  background-color: hsl(189, 41%, 97%);
  background-repeat: no-repeat;
  background-position: 20px;
  margin-bottom: 2rem;
}

.tip-choices-container {
  margin-bottom: 2rem;
}

p {
  color: hsl(186, 14%, 43%);
  margin-bottom: 1rem;
}

.choice-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.choice-buttons button {
  color: hsl(0, 0%, 100%);
  background-color: hsl(183, 100%, 15%);
  width: 9.25rem;
  cursor: pointer;
}

.choice-buttons button:focus,
.choice-buttons button:hover {
  background: hsl(172, 67%, 45%);
  color: hsl(183, 100%, 15%);
}

.choice-buttons .custom {
  background-color: hsl(189, 41%, 97%);
  color: hsl(183, 100%, 15%);
  text-align: right;
  padding-right: 1.2rem;
  width: 9.25rem;
  margin: 0;
}

.choice-buttons .custom::placeholder {
  color: hsl(186, 14%, 43%);
}

.choice-buttons .custom:focus {
  outline: none;
  border: 2px solid hsl(172, 67%, 45%);
}

.people-label,
.bill-label {
  display: flex;
  justify-content: space-between;
}

#people {
  background: url("images/icon-person.svg");
  background-color: hsl(189, 41%, 97%);
  background-repeat: no-repeat;
  background-position: 20px;
  margin-bottom: 2rem;
}

.people-error-message,
.bill-error-message {
  visibility: hidden;
  color: rgb(245, 85, 85);
}

.calculations-container {
  background: hsl(183, 100%, 15%);
  margin: 0 1.6rem;
  border-radius: 0.8rem;
  padding: 2.4rem 1.6rem 1.5rem 1.6rem;
}

.tip-amount-container,
.total-amount-container {
  display: flex;
  justify-content: space-between;
}

.tip-amount-container {
  margin-bottom: 1.2rem;
}

.total-amount-container {
  margin-bottom: 2rem;
}

.tip-amount-container > span,
.total-amount-container > span {
  font-size: 2rem;
  color: hsl(172, 67%, 45%);
}

.tip-title,
.total-title {
  display: flex;
  flex-direction: column;
  width: 6.875rem;
}

.tip-title:first-child,
.total-title:first-child {
  color: hsl(189, 41%, 97%);
}

.individual {
  color: hsl(184, 14%, 56%);
  font-size: 0.8rem;
}

.dollar-icon {
  transform: scale(1.2);
}

.calculations-container button {
  background: hsl(172, 67%, 45%);
  width: 100%;
  color: hsl(183, 100%, 15%);
  text-transform: uppercase;
  font-size: 1.2rem;
  cursor: pointer;
}

.calculations-container button:hover,
.calculations-container button:active {
  background: hsl(185, 41%, 84%);
}

.visible {
  visibility: visible;
}

.error-outline {
  border: 2px solid rgb(245, 85, 85);
}

@media (min-width: 62.5rem) {
  .logo-container {
    margin-bottom: 4.6rem;
  }
  .calculator-container {
    display: flex;
    min-width: 57.5rem;
  }
  .bill-label {
    margin-top: 0.8rem;
  }
  #bill {
    margin-bottom: 2.4rem;
  }
  .choice-buttons {
    gap: 0.8rem;
  }
  .people-label {
    padding-top: 0.6rem;
  }
  #people {
    margin-bottom: 1.2rem;
  }
  .bill-total-container,
  .tip-choices-container,
  .number-of-people {
    padding-right: 1.4rem;
    padding-left: 3rem;
  }

  .choice-buttons button {
    width: 7.5rem;
  }
  .choice-buttons .custom {
    width: 7.5rem;
    padding-right: 0.2rem;
  }
  .calculations-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 75%;
    padding: 2.6rem 2.5rem 2.5rem 2.5rem;
    margin-right: 2rem;
  }
  .tip-amount-container,
  .total-amount-container {
    align-items: center;
  }
  .total-amount-container {
    padding-bottom: 5rem;
  }
  .tip-amount-container > span,
  .total-amount-container > span {
    font-size: 3rem;
  }
}
